NEXT_PUBLIC_SUPABASE_URL=https://qotbfzhrcsaiybaucfoj.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key
SUPABASE_SERVICE_ROLE_KEY=your_supabase_service_role_key
PARTY_ADMIN_SECRET=F4hKYhB7Igb78ne5yv1kjOKx
NEXT_PUBLIC_SHOW_DANGER_ZONE=false
